.organisers{
	text-align:center;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.red{
	color: #C62730;
}

.gray{
	color: #D7D7D7;
}

.jumboevo{
background-image: url(../img/coverjumbo.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}